<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Meraki VPN Map</a>, by <a href="https://www.linkedin.com/in/benkersnovske/" target="_blank">Ben Kersnovske</a>.</p>
    </div>
</footer>